secrets.yaml
.ssh
.storage/*
!.storage/lovelace
/appdaemon/
/blueprints/
/conf_unused/
/custom_components/
/image/
/tts/
/unused/
/www/*
!/www/weather-icons/
/zigbee2mqtt/
/zigpy_ota/
home-assistant.log*
*.db
*.db-*
/rtsp2webrtc_v5_amd64
